<header>
    <nav class="gnb">
        <ul class="dropdown_t">
            <li>
                <a href="">환경설정</a>
            </li>
            <li>
                <a href="/walletHistory">거래내역조회</a>
            </li>
            <li>
                <a href="/limitList">한도조정 및 등록</a>
            </li>
            <li>
                <a href="/calculate">정산 및 마감</a>
            </li>
        </ul>
    </nav>
    <aside class="aside">
        <section class="nav_login">
            <div class="inner">
                <span>이것은 테스트입니다</span>
            </div>
        </section>
    </aside>
</header>
