@charset "UTF-8";
/*
	.Final Editor : Y.R Lee
	.Description : Reset CSS
	.Last Edit : 2017-03-10
*/
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px; }

* {
  -webkit-text-size-adjust: none;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, legend, input, table, tr, th, td {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: -0.5px; }

ul, ol, li {
  list-style: none; }

fieldset, img {
  border: none;
  vertical-align: middle; }

hr, button img {
  display: none; }

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; 2017-03-27 */
  empty-cells: show; }

legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0; }

* html input {
  margin: -1px 0;
  font-family: sans-serif; }

*:first-child + html input {
  margin: -1px 0; }

input.checkbox {
  width: 13px;
  height: 13px;
  vertical-align: top; }

input {
  font-family: sans-serif;
  height: 30px;
  line-height: 30px;
  padding: 1px 2px;
  border: 1px solid #e0e0e0; }

input:disabled {
  background-color: #efefef; }

select {
  height: 30px;
  line-height: 30px; }

address, article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

textarea {
  font-family: sans-serif;
  border: 1px solid #e0e0e0;
  padding: 2px 5px;
  color: #2d2d2d;
  resize: none; }

h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/*
	.Final Editor : Y.R Lee
	.Description : 버튼 스타일 정의. (버튼 사이즈, 버튼 색상, 스타일)
	.Last Edit : 2017-03-10
*/
.btnD {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.btnS {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.btnM {
  height: 25px;
  line-height: 25px;
  padding: 0 7px;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.btnB {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.btnSky {
  background-color: #009dea;
  color: #fff; }
  .btnSky:hover {
    background-color: #05adff; }

.btnBlue {
  background-color: #0446b5;
  color: #fff; }
  .btnBlue:hover {
    background-color: #023791; }

/*
	.Final Editor : Y.R Lee
	.Description : 공통 스타일 정의. (요소, 마진, 패딩, 레이아웃 시스템 등)
	.Last Edit : 2017-03-10
*/
.bold {
  font-weight: bold; }

.clearfix {
  clear: both; }

.center {
  margin: 0 auto; }

.t_center {
  text-align: center; }

.t_left {
  text-align: left; }

.t_right {
  text-align: right; }

.left {
  float: left; }

.right {
  float: right; }

.block {
  display: block; }

.left:after, .right:after {
  content: '';
  display: block;
  clear: both; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.pll5 {
  padding-left: 5px; }

.pll10 {
  padding-left: 10px; }

.pll15 {
  padding-left: 15px; }

.pll20 {
  padding-left: 20px; }

.pll25 {
  padding-left: 25px; }

.pll30 {
  padding-left: 30px; }

.pll35 {
  padding-left: 35px; }

.pll40 {
  padding-left: 40px; }

.pll45 {
  padding-left: 45px; }

.pll50 {
  padding-left: 50px; }

.plr5 {
  padding-right: 5px; }

.plr10 {
  padding-right: 10px; }

.plr15 {
  padding-right: 15px; }

.plr20 {
  padding-right: 20px; }

.plr25 {
  padding-right: 25px; }

.plr30 {
  padding-right: 30px; }

.plr35 {
  padding-right: 35px; }

.plr40 {
  padding-right: 40px; }

.plt5 {
  padding-top: 5px; }

.plt10 {
  padding-top: 10px; }

.plt15 {
  padding-top: 15px; }

.plt20 {
  padding-top: 20px; }

.plt25 {
  padding-top: 25px; }

.plt30 {
  padding-top: 30px; }

.plt35 {
  padding-top: 35px; }

.plt40 {
  padding-top: 40px; }

.plt45 {
  padding-top: 45px; }

.plt50 {
  padding-top: 50px; }

.plb5 {
  padding-bottom: 5px; }

.plb10 {
  padding-bottom: 10px; }

.plb15 {
  padding-bottom: 15px; }

.plb20 {
  padding-bottom: 20px; }

.plb25 {
  padding-bottom: 25px; }

.plb30 {
  padding-bottom: 30px; }

.plb35 {
  padding-bottom: 35px; }

.plb40 {
  padding-bottom: 40px; }

.plb45 {
  padding-bottom: 45px; }

.plb50 {
  padding-bottom: 50px; }

.col_1 {
  float: left;
  width: 100%; }

.col_2 {
  float: left;
  width: 50%; }

.col_3 {
  float: left;
  width: 33.3333%; }

.col_4 {
  float: left;
  width: 25%; }

.col_5 {
  float: left;
  width: 20%; }

.col_6 {
  float: left;
  width: 16.6667%; }

.col_7 {
  float: left;
  width: 14.285714%; }

.col_8 {
  float: left;
  width: 12.5%; }

.col_9 {
  float: left;
  width: 11.1111%; }

.col_1:after,
.col_2:after,
.col_3:after,
.col_4:after,
.col_5:after,
.col_6:after,
.col_7:after,
.col_8:after,
.col_9:after {
  content: '';
  display: block;
  clear: both; }
  
.main { width: 1120px; }
.size-main { width: 920px; }
.btn-area-search { /* min- */width: 920px; }
