#top { border-bottom: 3px solid #E64C13; height: 76px; }

#cssmenu {
	margin: 0;
	width: 100%;
	padding: 0;
	line-height: 1;
	position: relative;
	z-index: 999;
	background: #32323c;
	border-bottom: 1px solid #E64C13;
}

#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
/* 	display: block; */
	display: inline-block; display: -moz-inline-stack;
}

#cssmenu > ul {margin-left: 188px;}

#cssmenu ul:after, #cssmenu:after {
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

#cssmenu ul li {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

#cssmenu ul li a {
	text-decoration: none;
	display: block;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu ul li a span {
	padding: 5px;
}

#cssmenu ul li ul {
	position: absolute;
	left: -9999px;
	top: auto;
	border: 1px solid silver;
}

#cssmenu ul li ul li {
	max-height: 0;
	position: absolute;
	background: #ffffff;
	color: #000000;
}

#cssmenu ul li ul li:last-child {
	max-height: 0;
	position: absolute;
	background: #ffffff;
}

#cssmenu>ul>li>ul>li>ul>li:first-child {
	max-height: 0;
	position: absolute;
	background: #ffffff;
}

#cssmenu ul li ul li.has-sub:after {
	display: block;
	position: absolute;
	content: "";
	height: 10px;
	width: 0;
	z-index: 1;
	top: 13px;
	right: 15px;
}

#cssmenu.align-right ul li ul li.has-sub:after {
	right: auto;
	left: 15px;
}

#cssmenu ul li ul li.has-sub:before {
	display: block;
	position: absolute;
	content: ">";
	height: 0;
	width: 0;
	border-left-color: #ffffff;
	z-index: 2;
	top: 11px;
	right: 15px;
	color: #000000;
}

#cssmenu ul li ul li:hover.has-sub:before {
	color: #ffffff;
}

#cssmenu.align-right ul li ul li.has-sub:before {
	right: auto;
	left: 15px;
	border-left-color: transparent;
	border-right-color: #ffffff;
}

#cssmenu ul li ul li a {
	font-size: 13px;
	font-weight: 400;
	text-transform: none;
	color: #000000;
	letter-spacing: 0;
	display: block;
	width: 230px;
	padding: 11px 10px 11px 20px;
}

#cssmenu ul li ul li:hover>a, #cssmenu ul li ul li.active>a {
	background:#E64C13;
	color: #ffffff;
}

#cssmenu ul li ul li:hover:after, #cssmenu ul li ul li.active:after {
	color: #ffffff;
}

#cssmenu ul li ul li:hover>ul {
	left: 100%;
	top: -1px;
}

#cssmenu ul li ul li:hover>ul>li {
	max-height: 72px;
	position: relative;
}

#cssmenu>ul>li {
	float: left;
}

#cssmenu.align-center>ul>li {
	float: none;
	display: inline-block;
}

#cssmenu.align-center>ul {
	text-align: center;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul {
	float: right;
}

#cssmenu.align-right>ul>li:hover>ul {
	left: auto;
	right: 0;
}

#cssmenu.align-right ul ul li:hover>ul {
	right: 100%;
	left: auto;
}

#cssmenu.align-right ul ul li a {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #ffffff;
	/* color: #000000; */
	padding: 10px 10px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	z-index: 2;
	position: relative;
}

#cssmenu>ul>li:hover { background: #E64C13; }

#cssmenu>ul>li:hover:after, #cssmenu>ul>li.active:after {
	height: 100%;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li.active>a {
	color: #ffffff;
}

#cssmenu>ul>li:hover>a:before, #cssmenu>ul>li.active>a:before {
	border-top-color: #ffffff;
}

#cssmenu>ul>li:hover>ul {
	left: 0;
	background: #ffffff;
	border-top: 3px solid #e64c13;

}

#cssmenu>ul>li:hover>ul>li {
	max-height: 72px;
	position: relative;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu>ul>li>a {
	display: block;
}

#cssmenu>ul>li {
	width: auto;
}

#cssmenu>ul>li>ul {
	display: block;
}

#cssmenu>ul>li>ul>li {
	width: 230px;
	display: block;
}

div.topMsgImg {
	margin: 0 10px 0 0;
}

#login-area div.topMsgImg a {
	width: auto;
}

#cssmenu>ul>li.on {
	z-index:10;
}

#cssmenu>ul>li.on:after {
	height: 100%;
}

#cssmenu>ul>li>ul li.on>span {
	font-weight: bold !important;
}

#cssmenu:hover>div.top-bg {
	height: 350px;
	width: 1670px;
	background: #ffffff;
	position: absolute;
	top: 44px;
	left: 0;
	border-top: 3px solid #E64C13;
	border-bottom: 3px solid #E64C13;
	border-left: 3px solid #E64C13;
	border-right: 3px solid #E64C13;
}

/* LEFT MENU */

#css-left-menu > * {
	position: absolute;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    margin-top: 100px;
}

#css-left-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

#css-left-menu > ul > li > div {
	display: table-cell;
	vertical-align: middle;
	width:180px;
	padding: 10px 0 10px 0px;
	text-align: center;
	/* background: #E64C13; */
	background: #ffffff;
	/* font-size:12px; */
	font-size:18px;
	font-weight: bold;
	/* border-bottom: 1px solid #000000; */
	color: #333333;
}

#btn_leftmenu_toggle {
	margin-right: 10px;
	cursor: pointer;
}

#css-left-menu ul.left-menu-first > li { display: none; }

#css-left-menu ul.left-menu-second	{ border-top: 1px solid #000000; border-bottom: 1px solid #000000; }
#css-left-menu ul.left-menu-second > li{ display: none; /* background: #414141; */ background: #ffffff; border-top: 1px solid #cccccc; cursor: pointer; }
#css-left-menu ul.left-menu-second > li.left-menu-second-current { background-color: #32323c; padding: 20px 27px 20px 17px; }
#css-left-menu ul.left-menu-second > li.left-menu-second-current > a { font-weight: bold; }
#css-left-menu ul.left-menu-second > li > a {
	font-size: 12px; color: #333333; line-height: 20px; display: block;
	padding: 10px 17px 10px 7px;
}

#css-left-menu ul.left-menu-second > li > a:hover { font-weight: bold; }

#css-left-menu ul.left-menu-third { display: none; }
#css-left-menu ul.left-menu-third > li {  }
#css-left-menu ul.left-menu-third > li:hover { /* background: #E64C13; */ cursor: pointer; }
/* #css-left-menu ul.left-menu-third > li:hover a { color: #ffffff!important; } */
#css-left-menu ul.left-menu-third > li a { font-size: 12px; /* color: #ffffff; */ color: #000000; line-height: 20px; padding: 8px 0 8px 24px; display: block; }
#css-left-menu ul.left-menu-third > li a:hover { /* color: #ffffff; */ font-weight: bold;  }
li.left-menu-current a { font-weight: bold; }

/* .lvl1.top-current { background: #E64C13; } */
